* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header .img nav a {
  text-decoration: none;
  margin: 20px;
  color: aliceblue;
}
.header .img nav a:hover {
  color: tomato;
}
